.listing {
  display: flex;
  background: white;
  border-radius: 10px;
  padding: 5px 15px 0 15px;
}
.listing-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: solid 1px var(--text-color);
}
.listing-data {
  display: flex;
  align-items: center;
  color: var(--zinc-400);
}
.listing-data::before {
  content: url("/assets/user.svg");
  margin-right: 0.5rem;
}
.listing-data span{
 color: var(--text-color);
 margin-right: 0.5rem;
}
.listing-user a {
  font-size: small;
  border-radius: 10px;
  padding: 15px 20px;
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding-right: 1rem;
  background-color:  var(--stone-100);
}
.listing-user a::after {
  content: "\203A"; /* flechita › */
  margin-left: 8px;
}
