.listing {
  display: flex;
  background: white;
  border-radius: 10px;
  padding: 0 15px;
}
.listing-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: solid 1px var(--text-color);
  padding: 10px 15px;
}
.listing-data {
  display: flex;
  align-items: center;
}
.listing-data-text {
  display: flex;
  align-items: center;
  color: var(--zinc-400);
  font-size: 0.9rem;
}
.listing-data img {
  width: 2rem;
  height: 2rem;
  object-fit: cover; 
  border-radius: 10px;
  margin: 0 0.5rem;
}
.listing-data-text .user-name{
 color: var(--text-color);
 margin-right: 0.5rem;
}
.listing-user a {
  font-size: small;
  border-radius: 8px;
  padding: 15px 20px;
  text-decoration: none;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.listing-user a:hover {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .listing-data-text .user-email {
    display: none;
  }
}
