.listing {
  display: flex;
  background: var(--accent-color);
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
}
.listing-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.listing-data {
  display: flex;
  align-items: center;
}
.listing-data::before {
  content: url("/assets/user.svg");
  margin-right: 1rem;
}
.listing-user a {
  text-decoration: none;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.listing-user a::after {
  content: "\203A"; /* flechita › */
  margin-left: 5px;
}
